flask
flask_sqlalchemy
flask_migrate
werkzeug
bcrypt
flask_bcrypt
pytz
pycountry
reportlab
flask-login
openpyxl


gunicorn
flask-talisman
flask-limiter
flask-wtf
itsdangerous
psycopg2-binary
redis>=5
