<!DOCTYPE html>
<html lang="fr">
<head>
  <link rel=\"stylesheet\" href=\"{{ url_for('static', filename='app.css') }}\">
    <meta charset="UTF-8">
    <title>{% block title %}Titre{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
