<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CAI{% endblock %}</title>
    <script>
      // Attach CSRF token to fetch requests automatically
      document.addEventListener('DOMContentLoaded', () => {
        const token = "{{ csrf_token() }}";
        const _fetch = window.fetch;
        window.fetch = function(resource, init = {}) {
          init.headers = new Headers(init.headers || {});
          init.headers.set('X-CSRFToken', token);
          return _fetch(resource, init);
        }
      });
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
