<!DOCTYPE html>
<html lang="fr">
<head>
  <link rel=\"stylesheet\" href=\"{{ url_for('static', filename='app.css') }}\">
  <meta charset="UTF-8">
  <title>Connexion</title>
  <!-- ✅ Adaptation mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  
</head>
<body>
  <div class="login-container">
    <div>
      <h2>Connexion</h2>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="error">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form method="POST" action="{{ url_for('main_bp.login') }}">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="username" required inputmode="email" autocomplete="username">

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required autocomplete="current-password">

        <button type="submit">Se connecter</button>
      </form>
    </div>

    <div class="contact-info">
      <p>Besoin d’aide ? Contactez-nous à <br>
         <a href="mailto:si@isere.protection-civile.org">si@isere.protection-civile.org</a>
      </p>
    </div>
  </div>
</body>
</html>
